.board {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid rgb(201, 10, 201);
  width: 75%;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  padding: 40px;
  column-gap: 20px;
}

.todo {
  background-color: rgb(174, 227, 255);
  height: 500px;
  /* width: 350px; */
  border-radius: 5px;
  overflow: auto;
  display: grid;
  /* width: 100%; */
  /* grid-template-columns: 1fr;; */
}

.todo-generate {
  display: flex;
  justify-content: space-between;
  width: 340px;
  margin: auto;
  background-color: rgb(174, 227, 255);
  /* background-color: red; */
  position: relative;
  z-index: 3;
  margin-bottom: 170px;
  height: 50px;
  /* left: 0; */
  /* right: 0; */
}

.todo-list-div {
  display: flex;
  margin-left: 50px;
  margin-top: -5px;
}

.add-item {
  font-size: 30px;
  padding: 10px;
  height: 35px;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
}

.more-settings {
  font-size: 20px;
  padding: 5px;
  height: 25px;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.in-progress {
  background-color: rgb(255, 197, 255);
  height: 500px;
  border-radius: 5px;
}

.done {
  background-color: rgb(190, 246, 198);
  height: 500px;
  border-radius: 5px;
}
